*{
    margin: 0;
    padding: 0;
}
.hero{
    place-items: center;
}
.bg-img{
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: max(2200px, 100vw);
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230714/pngtree-simplicity-in-blue-a-living-room-interior-design-with-decor-and-image_3888158.jpg");
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 0;
    align-items: center;
    
}

.card{
    position: absolute;
    top: 25%;
    background: white;
    min-height: 250px;
    min-width: 500px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    gap: 30px;
}

button{
    height: 25px;
    width: 110px;
    color: white;
    background: rgb(29, 166, 246);
    border: none;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 0 4px;
}

button:hover{
    background: transparent;
    color: black;
    border: 2px solid rgb(29, 166, 246);
}

.modal-overlay{
    background: rgba(159, 225, 252, 0.84);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    place-items:center;
    display: grid;
    transition: 400ms ease;
    visibility: visible;
    z-index: -10;
}

.madal-container{
   position: absolute;
    top: 25%;
    background: white;
    max-height: 250px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    gap: 30px;
}

.madal-container img{
    height: 20px;
    right: 0;
}