*{
    margin: 0;
    padding: 0;
}
/* .hero{
    } */
    .bg-img{
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        background-size: max(2200px, 100vw);
        background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230714/pngtree-simplicity-in-blue-a-living-room-interior-design-with-decor-and-image_3888158.jpg");
        place-items: center;
        
}

.card{
    position: absolute;
    top: 25%;
    right: 35%;
    background: white;
    min-height: 250px;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    gap: 30px;
}

button{
    height: 25px;
    width: 110px;
    color: white;
    background: rgb(29, 166, 246);
    border: none;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 0 4px;
}

button:hover{
    background: transparent;
    color: black;
    border: 2px solid rgb(29, 166, 246);
}

.modal-overlay{
    background: rgba(73, 166, 233, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    place-items:center;
    display: grid;
    transition: 400ms ease;
    padding: 35px 20px;
    /* visibility: visible; 
     z-index: -10; */
}

.madal-container{
    position: absolute;
    top: 25%;
    right: 35%;
    background: white;
    min-height: 250px;
    min-width: 500px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    gap: 50px;
}

.madal-container img{
    height: 20px;
    right: 0;
    margin-left: 400px ;
    margin-top: -50px;
}

header{
    position: absolute;
    top: 0px;
    height: 15px;
    width: 100%;
    background: rgba(159, 225, 252, 0.84);
}
footer{
    position: absolute;
    bottom: 0px;
    height: 15px;
    width: 100%;
    background: rgba(159, 225, 252, 0.84);
}