*{
    margin: 0;
    padding: 0;
}

.bg-img{
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: max(2200px, 100vw);
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230714/pngtree-simplicity-in-blue-a-living-room-interior-design-with-decor-and-image_3888158.jpg");
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 0;
    align-items: center;
    
}

.card{
    position: absolute;
    top: 25%;
    left: 37%;
    background: white;
    max-height: 250px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    gap: 30px;
}

button{
    height: 25px;
    width: 100px;
    color: rgb(26, 147, 171);
    background: rgb(242, 244, 245);
    border: 1px solid;
    border-radius: 5px;
    padding: 0 3px;
}

