    @import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");



    .container {
        place-items: center;
        display: flex;
        flex-direction: column;

    }

    .card {
        width: 250px;
        height: auto;
        margin-top: 50%;
        border: none;
        border-radius: 5px;
        background: rgba(227, 227, 228, 0.546);
        padding: 30px 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
    }

    .card h1 {
        font-size: 25px;
        margin-left: 25px;
        font-family: "Pinyon Script", cursive;
        font-optical-sizing: auto;
        font-style: normal;
       letter-spacing: 2px;
       font-weight: 100;
       color: rgb(229, 171, 23);
       margin-top: -10px;
       
    }

    .questions {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


 .text {
        border: none;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 5px 9px rgba(117, 117, 117, 0.3);
    }

    .text .plus-btn {
        height: 30px;
    }

    .text h4 {
        font-size: 9px;
        font-weight: normal;
    }

.answer {
        border: none;
        padding: 1px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        box-shadow: 0px 5px 9px rgba(117, 117, 117, 0.3);
        margin-top: -6px;
        font-size: 10px;
        position: relative;
}

.answer p{
    font-size: 9px;
    color: #535252;
}
.answer::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.5px;
    top: 1px;
    left: 0;
    background: #b7b7b7;
  border-radius: 3px;
}

.minus-icon {
    height: 20px;
    margin-left: -53px;
}

.answer {
    display: none;  
}

.minus-icon {
    display: none;  
}

.show {
    display: block ;
}

@media screen and (min-width:450px) {
    
    .card{
        width: 464px;
        height: auto;
        margin-top: 30%;
        padding: 20px 30px;
    }
    .card h1{
        font-size: 40px;
        margin-left: 100px;
    }
    .text{
        height: 45px;
    }
    .text h4{
        font-size: 15px;
    }
    .text .plus-btn{
        height: 34px;
    }
    .minus-icon{
        height: 25px;
    }
    .answer p{
    font-size: 12px;
    color: #535252;
}
}

@media screen and (min-width:700px) {
    
    .card{
        width: 550px;
        height: auto;
        margin-top: 20%;
        padding: 10px 30px;
    }
    .card h1{
        font-size: 45px;
        margin-left: 110px;
    }
    .text{
        height: 47px;
    }
    .text h4{
        font-size: 17px;
    }
    .text .plus-btn{
        height: 35px;
    }
    .minus-icon{
        height: 25px;
    }
    .answer p{
    font-size: 15px;
    color: #535252;
}
}
@media screen and (min-width:1000px) {
    
    .card{
        width: 550px;
        height: auto;
        margin-top: 8%;
        padding: 30px 30px;
    }
    .card h1{
        font-size: 45px;
        margin-left: 110px;
    }
    .text{
        height: 47px;
    }
    .text h4{
        font-size: 17px;
    }
    .text .plus-btn{
        height: 35px;
    }
    .minus-icon{
        height: 25px;
    }
}