    body {
            font-family: Arial, sans-serif;
            background: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .card {
            width: 350px;
            margin-top:10%;
            padding: 20px;
            border-radius: 10px;
            min-height: 40px;
            height: 100%;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        }
       .lorem-form{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
       }
        h2 {
            margin-bottom: 15px;
            text-align: center;
        }

        label {
            font-size: 14px;
            font-weight:200;
        }

        input {
            max-width: 30px;
            width: 100%;
            height: 15px;
            border: none;
            border-radius: 2px;
            font-size: 14px;
            outline: none;
            overflow: hidden; 
        }

        button {
            width: fit-content;
            padding: 6px;
            background: #4a6cf7;
            color: white;
            font-size: 13px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background: #3c58d1;
        }

        .result {
            margin-top: 20px;
            background: #fafafa;
            padding: 12px;
            border-radius: 5px;
            font-size: 15px;
        }