body{
    place-items: center;
}
.reaction-container{
    display: flex;
    gap: 15px;
}

.reaction{
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
}

.active{
    transform: scale(1.3);
    border: 3px solid #4e73df;
}